<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd" id="WebApp_ID" version="4.0">
  <display-name>Ejercicio_Trimestral_Diciembre</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.jsp</welcome-file>
    <welcome-file>default.htm</welcome-file>
  </welcome-file-list>
  
  
    <servlet>
		<servlet-name>LoginServlet</servlet-name>
		<servlet-class>org.iesalixar.controller.LoginServlet</servlet-class>
	</servlet>
	
	<servlet>
		<servlet-name>InicioServlet</servlet-name>
		<servlet-class>org.iesalixar.controller.InicioServlet</servlet-class>
	</servlet>
	
	<servlet>
		<servlet-name>CustomerReportServlet</servlet-name>
		<servlet-class>org.iesalixar.controller.CustomerReportServlet</servlet-class>
	</servlet>
	
	<servlet>
		<servlet-name>AddCustomerServlet</servlet-name>
		<servlet-class>org.iesalixar.controller.AddCustomerServlet</servlet-class>
	</servlet>
	
	<servlet>
		<servlet-name>ChangeAssigmentServlet</servlet-name>
		<servlet-class>org.iesalixar.controller.ChangeAssigmentServlet</servlet-class>
	</servlet>
	
	
	
	<servlet-mapping>
		<servlet-name>LoginServlet</servlet-name>
		<url-pattern>/</url-pattern>
	</servlet-mapping>
	
	<servlet-mapping>
		<servlet-name>InicioServlet</servlet-name>
		<url-pattern>/Home</url-pattern>
	</servlet-mapping>
	
	<servlet-mapping>
		<servlet-name>CustomerReportServlet</servlet-name>
		<url-pattern>/CustomerReport</url-pattern>
	</servlet-mapping>
	
	<servlet-mapping>
		<servlet-name>AddCustomerServlet</servlet-name>
		<url-pattern>/Admin/AddCustomer</url-pattern>
	</servlet-mapping>
	
	<servlet-mapping>
		<servlet-name>ChangeAssigmentServlet</servlet-name>
		<url-pattern>/Admin/ChangeAssigment</url-pattern>
	</servlet-mapping>
  
  
  
  
  
  
  <servlet-mapping>
		<servlet-name>default</servlet-name>
		<url-pattern>/img/*</url-pattern>
		<url-pattern>/css/*</url-pattern>
		<url-pattern>/js/*</url-pattern>
	</servlet-mapping>
	
	
	<filter>
		<filter-name>LoggedFilter</filter-name>
		<filter-class>org.iesalixar.filters.LoggedFilter</filter-class>		
	</filter>
	
	<filter>
		<filter-name>UserFilter</filter-name>
		<filter-class>org.iesalixar.filters.UserFilter</filter-class>		
	</filter>
	
	<filter>
		<filter-name>AdminFilter</filter-name>
		<filter-class>org.iesalixar.filters.AdminFilter</filter-class>		
	</filter>
	
	
	
	<filter-mapping>
		<filter-name>LoggedFilter</filter-name>
		<url-pattern>/Home</url-pattern>
	</filter-mapping>
	
	<filter-mapping>
		<filter-name>UserFilter</filter-name>
		<url-pattern>/CustomerReport</url-pattern>
	</filter-mapping>
	
	<filter-mapping>
		<filter-name>AdminFilter</filter-name>
		<url-pattern>/Admin</url-pattern>
	</filter-mapping>
	
</web-app>