<!DOCTYPE html>
<html>
<head th:replace="fragments/bootstrap::head(title='Main')"></head>
<body>
	<div class="container mt-5">
		<div class="row mt-5 justify-content-center">
			<header th:insert="fragments/parts::menu"></header>
			<div class="col-10 mt-5 mb-5">
			
				
				<h1 sec:authorize="isAuthenticated()">Lista de Grados</h1>
				<table sec:authorize="isAuthenticated()" class="table table-stripped table-hover">
						<thead class="table-light">
						<tr>
							<th>Nombre Asignatura</th>
							<th>Nombre Grado</th>
							<th>Nombre Profesor</th>
							<th>Numero de alumnos matriculados</th>
							<th></th>
						</tr>
						</thead>					
						<tbody>
						 <tr th:each="a : ${asignaturas}">
						 	<td th:text="${a.getNombre()}"></td>
						 	<td th:text="${a.getGrado().getNombre()}"></td>
						    <td th:text="${a.getProfesor() != null ? a.getProfesor().getNombre()+' '+a.getProfesor().getApellido1()+' '+a.getProfesor().getApellido2() : '-'}"></td>
						 	<td th:text="${a.getAlumnosAsignatura().size()}"></td>
						 	<td>
						 		<a sec:authorize="hasRole('ROLE_ADMIN')" th:href="@{'/matriculas/add?codigo='+${a.getId()}}"><i class="bi bi-person-plus-fill"></i></a>
						 		<a th:href="@{'/matriculas/list?codigo='+${a.getId()}}"><i class="bi bi-people-fill"></i></a>
						 		<a th:href="@{'/matriculas/report?codigo='+${a.getId()}}"><i class="bi bi-justify"></i></a>
						 	</td>
						 </tr>					
						</tbody>
					</table>
			</div>		
			<footer th:replace="fragments/parts::footer(info='menu.grades')"></footer>
		</div>
	</div>
</body>
</html> 